/* Header */
ion-toolbar {
    --background: #222;
    --color: #fff;
  }
  
  /* Container Styles */
  .edit-profile-container {
    padding: 20px;
    color: #888;
  }
  
  h2 {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
  }
  
  /* Form Styles */
  .edit-profile-form ion-item {
    margin-bottom: 15px;
  }
  
  .favorite-films-section {
    margin-top: 20px;
  }
  
  h3 {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
  }
  
  /* Favorite Films */
  .film-container {
    display: flex;
    justify-content: space-between; /* Menjaga jarak antar kotak */
    gap: 10px; /* Mengatur jarak antar kotak */
  }
  
  .film-box {
    width: 70px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .add-icon {
    font-size: 32px;
    color: #fff;
  }
  
  .film-box:hover {
    background-color: #444; /* Efek hover untuk kotak */
    cursor: pointer;
  }
  
  /* Save Button */
  .save-button {
    margin-top: 30px;
    --background: #0066ff;
  }
  