ion-header {
  background-color: var(--theme-background); /* Hitam */
  color: var(--theme-text); /* Putih */
}

ion-toolbar {
  --background: var(--theme-background); /* Hitam */
  --color: var(--theme-text); /* Putih */
}

ion-card {
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-color: var(--theme-card-background); /* Gelap */
  color: var(--theme-text); /* Putih */
}

ion-card img {
  width: 100%;
  height: auto;
  display: block;
}

ion-card-header {
  background-color: var(--theme-primary); /* Emas */
  color: var(--theme-background); /* Hitam */
  text-align: center;
  padding: 20px;
}

ion-card-title {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--theme-background); /* Hitam */
}

ion-card-subtitle {
  font-size: 1.2em;
  color: var(--theme-muted-text); /* Abu-abu muda */
}

ion-card-content {
  padding: 20px;
  background-color: var(--theme-card-background); /* Gelap */
}

ion-card-content p {
  margin: 10px 0;
  color: var(--theme-text); /* Putih */
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 20px;
}
