<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Tombol Kembali -->
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <!-- Banner Welcome -->
    <div class="welcome-banner">
      <ion-icon name="film-outline" class="icon-film"></ion-icon>
      <h1>Welcome to Movie Map</h1>
      <p>Discover, rate, and track your favorite movies.</p>
    </div>
  <ion-list>
    <ion-item>
      <ion-input label="Email" labelPlacement="floating"
      placeholder="Enter Email" type="text"> </ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Password" labelPlacement="floating"
      placeholder="Enter Password" type="password"> </ion-input>
    </ion-item>
    <ion-button fill="solid" expand="block" routerLink="/profile">Login</ion-button>
    <ion-button fill="solid" expand="block" routerLink="/signup">Sign Up</ion-button>
  </ion-list>
</ion-content>
