ion-content {
  --background: #000; /* Latar belakang hitam */
  color: #fff; /* Teks putih */
  font-family: 'Poppins', sans-serif;
}

ion-header {
  ion-toolbar {
    --background: #1a1a1a; /* Latar belakang gelap */
    --color: #ffcc00; /* Warna teks header */
    padding: 0;
    border-bottom: 2px solid #333;
  }
  ion-back-button{
    color: #fff;
  }
}


.welcome-banner {
  text-align: center;
  margin: 20px 0;
  padding: 20px;
  background: var(--theme-card-background); /* Latar belakang gelap */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.welcome-banner h1 {
  font-size: 24px;
  font-weight: bold;
  color: var(--theme-text); /* Putih */
}

.welcome-banner p {
  color: var(--theme-primary); /* Emas */
}

.icon-film {
  font-size: 50px;
  color: var(--theme-primary); /* Emas */
  margin-bottom: 10px;
}

ion-item {
  --background: var(--theme-card-background); /* Latar belakang input gelap */
  --color: var(--theme-text); /* Teks putih */
  --border-color: var(--theme-muted-text); /* Border abu-abu */
  border-radius: 8px;
  margin-bottom: 15px;
}

ion-icon[slot="start"] {
  color: var(--theme-primary); /* Ikon berwarna emas */
  margin-right: 10px;
}

ion-label {
  color: var(--theme-text); /* Label berwarna putih */
  font-size: 14px;
}

ion-input {
  --color: var(--theme-text); /* Teks putih */
  --placeholder-color: var(--theme-muted-text); /* Placeholder abu-abu */
}

ion-button {
  margin-top: 15px;
  --background: var(--theme-primary); /* Tombol emas */
  --color: var(--theme-text); /* Teks putih */
  font-weight: bold;
  border-radius: 5px;
}

ion-button.routerLink {
  --background: var(--theme-secondary); /* Tombol kedua abu-abu */
  --color: var(--theme-text);
}

.custom-toast {
  --background: rgba(0, 0, 0, 0.85); /* Latar belakang semi-transparan */
  --color: #ffffff; /* Warna teks putih */
  --border-radius: 8px; /* Sudut membulat */
  --padding-start: 16px; /* Padding kiri */
  --padding-end: 16px; /* Padding kanan */
  --font-size: 1rem; /* Ukuran font */
  --box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); /* Bayangan */
  text-align: center; /* Pusatkan teks */
}
