
  
  .welcome-banner {
    text-align: center;
    margin: 20px 0;
  }
  
  .welcome-banner h1 {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  }
  
  .welcome-banner p {
    font-size: 14px;
    color: #3a86ff;
  }
  
  .icon-film {
    font-size: 50px;
    color: #3a86ff;
    margin-bottom: 10px;
  }
  
  .login-form ion-item {
    --border-radius: 8px;
    margin-bottom: 15px;
    
  }
  
  .login-button {
    margin-top: 20px;
    --background: #3a86ff;
    --color: #fff;
  }
  