<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Tombol Kembali -->
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Banner Welcome -->
  <div class="welcome-banner">
    <ion-icon name="film-outline" class="icon-film"></ion-icon>
    <h1>Welcome to Movie Map</h1>
    <p>Discover, rate, and track your favorite movies.</p>
  </div>
  
  <form (ngSubmit)="onSubmit()">
    <ion-list>
      <!-- Input Email -->
      <ion-item>
        <ion-icon name="mail-outline" slot="start" class="input-icon"></ion-icon>
        <ion-input label="Email" labelPlacement="floating" 
          placeholder="Enter Email" type="email" [(ngModel)]="email" name="email" required>
        </ion-input>
      </ion-item>

      <!-- Input Password -->
      <ion-item>
        <ion-icon name="lock-closed-outline" slot="start" class="input-icon"></ion-icon>
        <ion-input label="Password" labelPlacement="floating"
          placeholder="Enter Password" type="password" [(ngModel)]="password" name="password" required>
        </ion-input>
      </ion-item>

      <!-- Tombol Login -->
      <ion-button fill="solid" expand="block" type="submit">Login</ion-button>
      <!-- Tombol Sign Up -->
      <ion-button fill="solid" expand="block" routerLink="/signup">Sign Up</ion-button>
    </ion-list>
  </form>
</ion-content>
