// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --ion-color-dark-tint: #383a3e;
    --ion-color-success: #2dd36f;
    --ion-color-medium: #92949c;
  }