:root {
  --theme-primary: #ffcc00; /* Emas */
  --theme-secondary: #888; /* Abu-abu terang */
  --theme-background: #000; /* Hitam */
  --theme-card-background: #111; /* Hitam gelap */
  --theme-text: #fff; /* Putih */
  --theme-muted-text: #666; /* Abu-abu redup */
}