<ion-header>
  <ion-toolbar>
    <ion-title>Search Movies</ion-title>
    <ion-buttons slot="end">
      <!-- Tombol ke halaman login dengan kelas khusus -->
      <ion-button [routerLink]="['/login']" class="login-button"
        >Login</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input
      placeholder="Enter movie title..."
      [(ngModel)]="query"
      clearInput
    ></ion-input>
    <ion-button (click)="searchMovies()" expand="block">Search</ion-button>
  </ion-item>

  <div *ngIf="error" class="error-message">{{ error }}</div>

  <ion-grid *ngIf="movies.length > 0">
    <ion-row>
      <ion-col size="6" size-sm="4" size-md="3" *ngFor="let movie of movies">
        <ion-card>
          <img [src]="movie.Poster" alt="{{ movie.Title }}" />
          <ion-card-header>
            <ion-card-title>{{ movie.Title }}</ion-card-title>
            <ion-card-subtitle>{{ movie.Year }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-button expand="block" (click)="goToMovieDetail(movie.imdbID)">
              Details
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
