/* General styles for the component */
ion-header {
  background-color: #222;
  color: #fff;
}

ion-toolbar {
  --background: #222;
  --color: #fff;
}

ion-title {
  text-align: center;
  font-size: 1.5em;
}

.welcome-banner {
  text-align: center;
  background-color: #3a86ff;
  color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.welcome-banner h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}

.welcome-banner p {
  font-size: 14px;
  margin: 0;
}

.icon-film {
  font-size: 50px;
  margin-bottom: 10px;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 20px;
}
