<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <!-- Input Nama Lengkap -->
    <ion-item>
      <ion-input label="Name" labelPlacement="floating"
      placeholder="Enter Name" type="text"> </ion-input>
    </ion-item>

    <!-- Input Email -->
    <ion-item>
      <ion-input label="Email" labelPlacement="floating"
      placeholder="Enter Email" type="text"> </ion-input>
    </ion-item>

    <!-- Input Password -->
    <ion-item>
      <ion-input label="Password" labelPlacement="floating"
      placeholder="Enter Password" type="password"> </ion-input>
    </ion-item>

    <!-- Input Konfirmasi Password -->
    <ion-item>
      <ion-input label="Confirm Password" labelPlacement="floating"
      placeholder="Enter Password" type="password"> </ion-input>
    </ion-item>

    <!-- Tombol Sign Up -->
    <ion-button fill="solid" expand="block" routerLink="/home">
      Sign Up
    </ion-button>

    <!-- Tombol Back -->
    <ion-button fill="outline" expand="block" routerLink="/login">
      Back to Login
    </ion-button>
  </ion-list>
</ion-content>
