<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>


<ion-content [fullscreen]="true" color="dark">

  <!-- Konten Segment Reviews -->
  <div class="reviews-container" *ngIf="selectedSegment === 'REVIEWS'">
    <h2 class="section-title">Now Playing</h2>
    <div class="error-message" *ngIf="error">{{ error }}</div>
    <div class="review-card" *ngFor="let review of filteredReviews">
      <div class="review-header">
        <div class="movie-info" (click)="goToMovieDetail(review.imdbID)">
          <h3>{{ review.movieTitle }} <span class="year">{{ review.year }}</span></h3>
        </div>
        <div class="reviewer-info">
          <span class="reviewer-name">{{ review.reviewer }}</span>
          <ion-avatar>
            <img [src]="review.reviewerAvatar" alt="reviewer avatar" />
          </ion-avatar>
        </div>
      </div>
      <div class="review-content">
        <img [src]="review.posterUrl" [alt]="review.movieTitle + ' poster'" class="movie-poster" />
        <p class="review-text">{{ review.reviewText }}</p>
      </div>
    </div>
  </div>
</ion-content>
