/* Header */
ion-header {
  background: #000 !important; /* Latar belakang hitam */
  color: #ffcc00 !important; /* Warna teks emas */
  ion-title {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
    color: #ffcc00; /* Teks emas pada judul */
  }
}

/* Konten Utama */
ion-content {
  background: #000 !important; /* Latar belakang hitam */
  color: var(--theme-text) !important; /* Warna teks putih */
}

.movies-container {
  padding: 16px;
}


.movie-card {
  background: var(--theme-card-background);
  border: 1px solid var(--theme-secondary);
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  }

  .movie-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    .movie-info {
      h3 {
        color: var(--theme-text);
        font-size: 18px;
        margin: 0;

        .year {
          color: var(--theme-muted-text);
          margin-left: 8px;
          font-size: 14px;
        }
      }
    }

    .rating {
      display: flex;
      align-items: center;
      color: var(--theme-primary);
      font-weight: bold;

      ion-icon {
        margin-right: 4px;
      }
    }
  }

  .movie-content {
    display: flex;
    gap: 16px;

    .movie-poster {
      width: 100px;
      border-radius: 8px;
      border: 2px solid var(--theme-primary);
      object-fit: cover;
    }

    .movie-overview {
      color: var(--theme-text);
      font-size: 14px;
      line-height: 1.5;
      flex: 1;
      opacity: 0.8;
    }
  }
}

.no-movies-message, .error-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  text-align: center;
  color: var(--theme-muted-text);
  
  h2 {
    margin-bottom: 10px;
    color: var(--theme-primary);
    font-weight: 700;
  }
}