<ion-header>
  <ion-toolbar>
    <nav class="nav-container">
      <a [routerLink]="['/movies']" routerLinkActive="active" class="nav-link">SEARCH MOVIES</a>
      <a [routerLink]="['/lists']" routerLinkActive="active" class="nav-link">LISTS</a>
      <a [routerLink]="['/profile']" routerLinkActive="active" class="nav-link">PROFILE</a>
    </nav>
    <ion-buttons slot="end">
      <!-- Tombol ke halaman login dengan kelas khusus -->
      <ion-button [routerLink]="['/login']" class="login-button">
        Login
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
